-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_spp
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `role` enum('admin','bendahara','kasir') NOT NULL DEFAULT 'admin',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bayar`
--

DROP TABLE IF EXISTS `bayar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bayar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `NO_INDUK` varchar(10) DEFAULT NULL,
  `KELAS` varchar(5) DEFAULT NULL,
  `master_kelas_id` int(11) DEFAULT NULL,
  `kelas_rombel_snapshot` varchar(30) DEFAULT NULL,
  `U_PANGKAL` double DEFAULT 0,
  `U_BANGUNAN` double DEFAULT 0,
  `U_SERAGAM` double DEFAULT 0,
  `U_KEGIATAN` double DEFAULT 0,
  `U_SPP` double DEFAULT 0,
  `U_MAKAN` double DEFAULT 0,
  `U_SORGA` double DEFAULT 0,
  `U_INFAQ` double DEFAULT 0,
  `U_KOMITE` decimal(15,2) NOT NULL DEFAULT 0.00,
  `U_LAIN` double DEFAULT 0,
  `KETERANGAN` varchar(255) DEFAULT NULL,
  `TGL_BYR` datetime DEFAULT NULL,
  `BULAN` varchar(20) DEFAULT NULL,
  `user_id` varchar(100) DEFAULT NULL,
  `sistem_pembayaran` enum('Tunai','VA','Qris') NOT NULL DEFAULT 'VA',
  `TAHUN` char(4) DEFAULT NULL,
  `LAIN_LAIN1` varchar(100) DEFAULT NULL,
  `LAIN_LAIN2` varchar(100) DEFAULT NULL,
  `LAIN_LAIN3` varchar(100) DEFAULT NULL,
  `LAIN_LAIN4` varchar(100) DEFAULT NULL,
  `JUMLAH1` double DEFAULT 0,
  `JUMLAH2` double DEFAULT 0,
  `JUMLAH3` double DEFAULT 0,
  `JUMLAH4` double DEFAULT 0,
  `th_ajaran` char(9) DEFAULT NULL,
  `kelas_du` char(5) DEFAULT NULL,
  `potong_spp` double DEFAULT 0,
  `total_jumlah` double DEFAULT 0,
  `payment_link_version` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `payment_batch_token` char(32) DEFAULT NULL,
  `payment_batch_sequence` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `payment_batch_count` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_bayar_payment_batch` (`payment_batch_token`,`payment_batch_sequence`),
  KEY `idx_bayar_master_kelas_tanggal` (`master_kelas_id`,`TGL_BYR`),
  KEY `idx_bayar_tanggal_operator_metode` (`TGL_BYR`,`user_id`,`sistem_pembayaran`),
  KEY `idx_bayar_siswa_periode` (`NO_INDUK`,`TAHUN`,`BULAN`),
  CONSTRAINT `bayar_ibfk_1` FOREIGN KEY (`NO_INDUK`) REFERENCES `siswa` (`NO_INDUK`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_bayar_master_kelas` FOREIGN KEY (`master_kelas_id`) REFERENCES `master_kelas` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=449 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bayar`
--

LOCK TABLES `bayar` WRITE;
/*!40000 ALTER TABLE `bayar` DISABLE KEYS */;
/*!40000 ALTER TABLE `bayar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bayar_biaya_lain`
--

DROP TABLE IF EXISTS `bayar_biaya_lain`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bayar_biaya_lain` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bayar_id` int(11) NOT NULL,
  `master_biaya_lain_id` int(11) DEFAULT NULL,
  `tagihan_biaya_lain_id` bigint(20) DEFAULT NULL,
  `nama_biaya_snapshot` varchar(100) NOT NULL,
  `nominal_snapshot` decimal(15,2) NOT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `urutan` smallint(5) unsigned NOT NULL DEFAULT 1,
  `legacy_key` varchar(10) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_bayar_biaya_lain_legacy` (`bayar_id`,`legacy_key`),
  KEY `idx_bayar_biaya_lain_master` (`master_biaya_lain_id`),
  KEY `idx_bayar_biaya_lain_tagihan` (`tagihan_biaya_lain_id`),
  CONSTRAINT `fk_bayar_biaya_lain_bayar` FOREIGN KEY (`bayar_id`) REFERENCES `bayar` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_bayar_biaya_lain_master` FOREIGN KEY (`master_biaya_lain_id`) REFERENCES `master_biaya_lain` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_bayar_biaya_lain_tagihan` FOREIGN KEY (`tagihan_biaya_lain_id`) REFERENCES `tagihan_biaya_lain` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=159 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bayar_biaya_lain`
--

LOCK TABLES `bayar_biaya_lain` WRITE;
/*!40000 ALTER TABLE `bayar_biaya_lain` DISABLE KEYS */;
/*!40000 ALTER TABLE `bayar_biaya_lain` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bayar_du`
--

DROP TABLE IF EXISTS `bayar_du`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bayar_du` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bayar_id` int(11) DEFAULT NULL,
  `tagihan_daftar_ulang_id` bigint(20) DEFAULT NULL,
  `no_induk` varchar(50) DEFAULT NULL,
  `kelas` varchar(5) DEFAULT NULL,
  `th_ajaran` char(9) DEFAULT NULL,
  `jumlah` decimal(18,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_bayar_du_bayar_id` (`bayar_id`),
  KEY `idx_bayar_du_tagihan` (`tagihan_daftar_ulang_id`),
  KEY `no_induk` (`no_induk`),
  CONSTRAINT `bayar_du_ibfk_1` FOREIGN KEY (`no_induk`) REFERENCES `siswa` (`NO_INDUK`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_bayar_du_bayar` FOREIGN KEY (`bayar_id`) REFERENCES `bayar` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_bayar_du_tagihan` FOREIGN KEY (`tagihan_daftar_ulang_id`) REFERENCES `tagihan_daftar_ulang` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bayar_du`
--

LOCK TABLES `bayar_du` WRITE;
/*!40000 ALTER TABLE `bayar_du` DISABLE KEYS */;
/*!40000 ALTER TABLE `bayar_du` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bayar_spp_periode`
--

DROP TABLE IF EXISTS `bayar_spp_periode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bayar_spp_periode` (
  `bayar_id` int(11) NOT NULL,
  `no_induk` varchar(10) NOT NULL,
  `bulan` char(2) NOT NULL,
  `tahun` char(4) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`bayar_id`),
  KEY `idx_bayar_spp_siswa_periode` (`no_induk`,`tahun`,`bulan`),
  CONSTRAINT `fk_bayar_spp_periode_bayar` FOREIGN KEY (`bayar_id`) REFERENCES `bayar` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_bayar_spp_periode_siswa` FOREIGN KEY (`no_induk`) REFERENCES `siswa` (`NO_INDUK`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bayar_spp_periode`
--

LOCK TABLES `bayar_spp_periode` WRITE;
/*!40000 ALTER TABLE `bayar_spp_periode` DISABLE KEYS */;
/*!40000 ALTER TABLE `bayar_spp_periode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bayar_tahunan_siswa`
--

DROP TABLE IF EXISTS `bayar_tahunan_siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bayar_tahunan_siswa` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `bayar_id` int(11) NOT NULL,
  `tagihan_tahunan_id` bigint(20) NOT NULL,
  `no_induk` varchar(10) NOT NULL,
  `komponen` varchar(30) NOT NULL,
  `th_ajaran` char(9) NOT NULL,
  `jumlah` decimal(15,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_bayar_tahunan_bayar_component` (`bayar_id`,`komponen`),
  KEY `idx_bayar_tahunan_tagihan` (`tagihan_tahunan_id`),
  KEY `idx_bayar_tahunan_siswa` (`no_induk`,`th_ajaran`,`komponen`),
  CONSTRAINT `fk_bayar_tahunan_bayar` FOREIGN KEY (`bayar_id`) REFERENCES `bayar` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_bayar_tahunan_siswa` FOREIGN KEY (`no_induk`) REFERENCES `siswa` (`NO_INDUK`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_bayar_tahunan_tagihan` FOREIGN KEY (`tagihan_tahunan_id`) REFERENCES `tagihan_tahunan_siswa` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_bayar_tahunan_jumlah` CHECK (`jumlah` >= 0)
) ENGINE=InnoDB AUTO_INCREMENT=287 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bayar_tahunan_siswa`
--

LOCK TABLES `bayar_tahunan_siswa` WRITE;
/*!40000 ALTER TABLE `bayar_tahunan_siswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `bayar_tahunan_siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daftar_ulang`
--

DROP TABLE IF EXISTS `daftar_ulang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daftar_ulang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tahun_ajaran_id` int(11) DEFAULT NULL,
  `th_ajaran` char(9) DEFAULT NULL,
  `kelas` char(1) DEFAULT NULL,
  `Jumlah` decimal(18,2) DEFAULT 0.00,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_daftar_ulang_period_class` (`th_ajaran`,`kelas`),
  KEY `fk_master_du_tahun` (`tahun_ajaran_id`),
  CONSTRAINT `fk_master_du_tahun` FOREIGN KEY (`tahun_ajaran_id`) REFERENCES `tahun_ajaran` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daftar_ulang`
--

LOCK TABLES `daftar_ulang` WRITE;
/*!40000 ALTER TABLE `daftar_ulang` DISABLE KEYS */;
INSERT INTO `daftar_ulang` VALUES (1,1,'2026/2027','1',1000000.00,'2026-08-28 06:05:45'),(2,1,'2026/2027','2',1100000.00,'2026-08-28 06:05:45'),(3,1,'2026/2027','3',1200000.00,'2026-08-28 06:05:45'),(4,1,'2026/2027','4',1300000.00,'2026-08-28 06:05:45'),(5,1,'2026/2027','5',1400000.00,'2026-08-28 06:05:45'),(6,1,'2026/2027','6',1500000.00,'2026-08-28 06:05:45');
/*!40000 ALTER TABLE `daftar_ulang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daftar_ulang_audit_log`
--

DROP TABLE IF EXISTS `daftar_ulang_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daftar_ulang_audit_log` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tahun_ajaran_id` int(11) DEFAULT NULL,
  `master_id` int(11) DEFAULT NULL,
  `aksi` varchar(40) NOT NULL,
  `before_data` longtext DEFAULT NULL,
  `after_data` longtext DEFAULT NULL,
  `affected_count` int(11) NOT NULL DEFAULT 0,
  `admin_id` int(11) DEFAULT NULL,
  `admin_name` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_du_audit_year` (`tahun_ajaran_id`,`created_at`),
  KEY `idx_du_audit_master` (`master_id`,`created_at`),
  KEY `fk_du_audit_admin` (`admin_id`),
  CONSTRAINT `fk_du_audit_admin` FOREIGN KEY (`admin_id`) REFERENCES `admin` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_du_audit_master` FOREIGN KEY (`master_id`) REFERENCES `daftar_ulang` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_du_audit_year` FOREIGN KEY (`tahun_ajaran_id`) REFERENCES `tahun_ajaran` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daftar_ulang_audit_log`
--

LOCK TABLES `daftar_ulang_audit_log` WRITE;
/*!40000 ALTER TABLE `daftar_ulang_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `daftar_ulang_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_biaya_lain`
--

DROP TABLE IF EXISTS `master_biaya_lain`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_biaya_lain` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nama` (`nama`),
  CONSTRAINT `chk_master_biaya_lain_nominal` CHECK (`nominal` > 0)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_biaya_lain`
--

LOCK TABLES `master_biaya_lain` WRITE;
/*!40000 ALTER TABLE `master_biaya_lain` DISABLE KEYS */;
INSERT INTO `master_biaya_lain` VALUES (1,'Ekskul Demo',100000.00,1,'2026-08-28 14:01:30','2026-08-28 14:01:30'),(2,'Buku Paket',125000.00,1,'2026-08-28 14:08:58','2026-08-28 14:08:58'),(3,'Seragam Olahraga',175000.00,1,'2026-08-28 14:08:58','2026-08-28 14:08:58'),(4,'Kegiatan Tahunan',150000.00,1,'2026-08-28 14:08:58','2026-08-28 14:08:58'),(5,'Modul/Ujian',95000.00,1,'2026-08-28 14:08:58','2026-08-28 14:08:58'),(6,'Ekskul',80000.00,1,'2026-08-28 14:08:58','2026-08-28 14:08:58');
/*!40000 ALTER TABLE `master_biaya_lain` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_kelas`
--

DROP TABLE IF EXISTS `master_kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_kelas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tingkat` tinyint(3) unsigned NOT NULL,
  `kode_rombel` varchar(10) NOT NULL,
  `is_placeholder` tinyint(1) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_master_kelas_tingkat_rombel` (`tingkat`,`kode_rombel`),
  KEY `idx_master_kelas_active` (`is_active`,`tingkat`,`kode_rombel`),
  CONSTRAINT `chk_master_kelas_tingkat` CHECK (`tingkat` between 1 and 6)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_kelas`
--

LOCK TABLES `master_kelas` WRITE;
/*!40000 ALTER TABLE `master_kelas` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siswa`
--

DROP TABLE IF EXISTS `siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `siswa` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `NO_INDUK` varchar(10) NOT NULL,
  `NAMA` varchar(100) NOT NULL,
  `KELAS` char(1) NOT NULL,
  `master_kelas_id` int(11) DEFAULT NULL,
  `SPP_PERBULAN` decimal(15,2) NOT NULL DEFAULT 0.00,
  `PANGKAL` decimal(15,2) NOT NULL DEFAULT 0.00,
  `BANGUNAN` decimal(15,2) NOT NULL DEFAULT 0.00,
  `SERAGAM` decimal(15,2) NOT NULL DEFAULT 0.00,
  `KEGIATAN` decimal(15,2) NOT NULL DEFAULT 0.00,
  `MAKAN` decimal(15,2) NOT NULL DEFAULT 0.00,
  `SORGA` decimal(15,2) NOT NULL DEFAULT 0.00,
  `INFAQ` decimal(15,2) NOT NULL DEFAULT 0.00,
  `PANGKAL_BAYAR` decimal(15,2) NOT NULL DEFAULT 0.00,
  `BANGUNAN_BAYAR` decimal(15,2) NOT NULL DEFAULT 0.00,
  `SERAGAM_BAYAR` decimal(15,2) NOT NULL DEFAULT 0.00,
  `KEGIATAN_BAYAR` decimal(15,2) NOT NULL DEFAULT 0.00,
  `POMG` decimal(15,2) NOT NULL DEFAULT 0.00,
  `DAFTAR_ULANG` decimal(15,2) NOT NULL DEFAULT 0.00,
  `NO_induk_diknas` char(10) DEFAULT NULL,
  `potong_pangkal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tot_pangkal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tot_du` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potong_du` decimal(15,2) NOT NULL DEFAULT 0.00,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `NO_INDUK` (`NO_INDUK`),
  UNIQUE KEY `uk_siswa_no_induk_diknas` (`NO_induk_diknas`),
  KEY `idx_siswa_status_kelas_nama` (`is_active`,`KELAS`,`NAMA`),
  KEY `idx_siswa_master_kelas` (`master_kelas_id`,`is_active`,`NAMA`),
  CONSTRAINT `fk_siswa_master_kelas` FOREIGN KEY (`master_kelas_id`) REFERENCES `master_kelas` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_siswa_kelas_sd` CHECK (`KELAS` in ('1','2','3','4','5','6'))
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siswa`
--

LOCK TABLES `siswa` WRITE;
/*!40000 ALTER TABLE `siswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siswa_audit_log`
--

DROP TABLE IF EXISTS `siswa_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `siswa_audit_log` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `siswa_id` int(11) DEFAULT NULL,
  `no_induk_snapshot` varchar(10) NOT NULL,
  `aksi` varchar(30) NOT NULL,
  `before_data` longtext DEFAULT NULL,
  `after_data` longtext DEFAULT NULL,
  `admin_id` int(11) DEFAULT NULL,
  `admin_name` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_siswa_audit_siswa` (`siswa_id`,`created_at`),
  KEY `idx_siswa_audit_no_induk` (`no_induk_snapshot`,`created_at`),
  KEY `fk_siswa_audit_admin` (`admin_id`),
  CONSTRAINT `fk_siswa_audit_admin` FOREIGN KEY (`admin_id`) REFERENCES `admin` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_siswa_audit_siswa` FOREIGN KEY (`siswa_id`) REFERENCES `siswa` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siswa_audit_log`
--

LOCK TABLES `siswa_audit_log` WRITE;
/*!40000 ALTER TABLE `siswa_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `siswa_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siswa_tahun_ajaran`
--

DROP TABLE IF EXISTS `siswa_tahun_ajaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `siswa_tahun_ajaran` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tahun_ajaran_id` int(11) NOT NULL,
  `no_induk` varchar(10) NOT NULL,
  `kelas` char(1) NOT NULL,
  `master_kelas_id` int(11) DEFAULT NULL,
  `kelas_rombel_snapshot` varchar(30) DEFAULT NULL,
  `spp_perbulan_snapshot` decimal(15,2) NOT NULL DEFAULT 0.00,
  `komite_snapshot` decimal(15,2) NOT NULL DEFAULT 0.00,
  `status` enum('aktif','pindah','lulus') NOT NULL DEFAULT 'aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_siswa_tahun_ajaran` (`tahun_ajaran_id`,`no_induk`),
  KEY `idx_penempatan_kelas_status` (`tahun_ajaran_id`,`kelas`,`status`),
  KEY `idx_penempatan_siswa` (`no_induk`,`tahun_ajaran_id`),
  KEY `idx_penempatan_master_kelas` (`tahun_ajaran_id`,`master_kelas_id`,`status`),
  KEY `fk_penempatan_master_kelas` (`master_kelas_id`),
  CONSTRAINT `fk_penempatan_master_kelas` FOREIGN KEY (`master_kelas_id`) REFERENCES `master_kelas` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_penempatan_siswa` FOREIGN KEY (`no_induk`) REFERENCES `siswa` (`NO_INDUK`) ON UPDATE CASCADE,
  CONSTRAINT `fk_penempatan_tahun_ajaran` FOREIGN KEY (`tahun_ajaran_id`) REFERENCES `tahun_ajaran` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_penempatan_kelas_sd` CHECK (`kelas` in ('1','2','3','4','5','6'))
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siswa_tahun_ajaran`
--

LOCK TABLES `siswa_tahun_ajaran` WRITE;
/*!40000 ALTER TABLE `siswa_tahun_ajaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `siswa_tahun_ajaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabungan`
--

DROP TABLE IF EXISTS `tabungan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabungan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `NO_INDUK` varchar(10) NOT NULL,
  `SALDO` double DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `NO_INDUK` (`NO_INDUK`),
  CONSTRAINT `tabungan_ibfk_1` FOREIGN KEY (`NO_INDUK`) REFERENCES `siswa` (`NO_INDUK`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_tabungan_saldo_nonnegative` CHECK (`SALDO` >= 0)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabungan`
--

LOCK TABLES `tabungan` WRITE;
/*!40000 ALTER TABLE `tabungan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabungan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tagihan_biaya_lain`
--

DROP TABLE IF EXISTS `tagihan_biaya_lain`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tagihan_biaya_lain` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `master_biaya_lain_id` int(11) NOT NULL,
  `no_induk` varchar(10) NOT NULL,
  `master_kelas_id` int(11) DEFAULT NULL,
  `nama_snapshot` varchar(100) NOT NULL,
  `nominal_tagihan` decimal(15,2) NOT NULL,
  `kelas_rombel_snapshot` varchar(30) DEFAULT NULL,
  `status` enum('open','cancelled') NOT NULL DEFAULT 'open',
  `cancel_reason` varchar(255) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tagihan_biaya_lain_siswa_master` (`master_biaya_lain_id`,`no_induk`),
  KEY `idx_tagihan_biaya_lain_status` (`master_biaya_lain_id`,`status`,`master_kelas_id`),
  KEY `idx_tagihan_biaya_lain_siswa` (`no_induk`,`status`),
  KEY `fk_tagihan_biaya_lain_kelas` (`master_kelas_id`),
  KEY `fk_tagihan_biaya_lain_admin` (`created_by`),
  CONSTRAINT `fk_tagihan_biaya_lain_admin` FOREIGN KEY (`created_by`) REFERENCES `admin` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_tagihan_biaya_lain_kelas` FOREIGN KEY (`master_kelas_id`) REFERENCES `master_kelas` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_tagihan_biaya_lain_master` FOREIGN KEY (`master_biaya_lain_id`) REFERENCES `master_biaya_lain` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_tagihan_biaya_lain_siswa` FOREIGN KEY (`no_induk`) REFERENCES `siswa` (`NO_INDUK`) ON UPDATE CASCADE,
  CONSTRAINT `chk_tagihan_biaya_lain_nominal` CHECK (`nominal_tagihan` > 0)
) ENGINE=InnoDB AUTO_INCREMENT=267 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tagihan_biaya_lain`
--

LOCK TABLES `tagihan_biaya_lain` WRITE;
/*!40000 ALTER TABLE `tagihan_biaya_lain` DISABLE KEYS */;
/*!40000 ALTER TABLE `tagihan_biaya_lain` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tagihan_biaya_lain_audit_log`
--

DROP TABLE IF EXISTS `tagihan_biaya_lain_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tagihan_biaya_lain_audit_log` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `master_biaya_lain_id` int(11) DEFAULT NULL,
  `aksi` varchar(40) NOT NULL,
  `target` varchar(40) NOT NULL,
  `target_value` varchar(100) DEFAULT NULL,
  `affected_count` int(11) NOT NULL DEFAULT 0,
  `total_nominal` decimal(18,2) NOT NULL DEFAULT 0.00,
  `admin_id` int(11) DEFAULT NULL,
  `admin_name` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_tagihan_biaya_lain_audit` (`master_biaya_lain_id`,`created_at`),
  KEY `fk_tagihan_biaya_lain_audit_admin` (`admin_id`),
  CONSTRAINT `fk_tagihan_biaya_lain_audit_admin` FOREIGN KEY (`admin_id`) REFERENCES `admin` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_tagihan_biaya_lain_audit_master` FOREIGN KEY (`master_biaya_lain_id`) REFERENCES `master_biaya_lain` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tagihan_biaya_lain_audit_log`
--

LOCK TABLES `tagihan_biaya_lain_audit_log` WRITE;
/*!40000 ALTER TABLE `tagihan_biaya_lain_audit_log` DISABLE KEYS */;
INSERT INTO `tagihan_biaya_lain_audit_log` VALUES (1,3,'terbitkan_tagihan','tingkat','1',0,0.00,1,'Administrator','2026-08-28 14:14:40'),(2,4,'terbitkan_tagihan','tingkat','1',0,0.00,1,'Administrator','2026-08-28 14:14:59'),(3,4,'terbitkan_tagihan','siswa','2024001',0,0.00,1,'Administrator','2026-08-28 14:27:46');
/*!40000 ALTER TABLE `tagihan_biaya_lain_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tagihan_daftar_ulang`
--

DROP TABLE IF EXISTS `tagihan_daftar_ulang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tagihan_daftar_ulang` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tahun_ajaran_id` int(11) NOT NULL,
  `penempatan_id` bigint(20) NOT NULL,
  `master_daftar_ulang_id` int(11) DEFAULT NULL,
  `no_induk` varchar(10) NOT NULL,
  `kelas_snapshot` char(1) NOT NULL,
  `tahun_ajaran_snapshot` char(9) NOT NULL,
  `nominal_awal` decimal(18,2) NOT NULL,
  `nominal_tagihan` decimal(18,2) NOT NULL,
  `status` enum('open','cancelled') NOT NULL DEFAULT 'open',
  `cancel_reason` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tagihan_du_siswa_tahun` (`tahun_ajaran_id`,`no_induk`),
  KEY `idx_tagihan_du_status` (`tahun_ajaran_id`,`kelas_snapshot`,`status`),
  KEY `idx_tagihan_du_penempatan` (`penempatan_id`),
  KEY `idx_tagihan_du_master` (`master_daftar_ulang_id`),
  KEY `fk_tagihan_du_siswa` (`no_induk`),
  CONSTRAINT `fk_tagihan_du_master` FOREIGN KEY (`master_daftar_ulang_id`) REFERENCES `daftar_ulang` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_tagihan_du_penempatan` FOREIGN KEY (`penempatan_id`) REFERENCES `siswa_tahun_ajaran` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_tagihan_du_siswa` FOREIGN KEY (`no_induk`) REFERENCES `siswa` (`NO_INDUK`) ON UPDATE CASCADE,
  CONSTRAINT `fk_tagihan_du_tahun` FOREIGN KEY (`tahun_ajaran_id`) REFERENCES `tahun_ajaran` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_tagihan_du_nominal` CHECK (`nominal_awal` >= 0 and `nominal_tagihan` >= 0),
  CONSTRAINT `chk_tagihan_du_kelas` CHECK (`kelas_snapshot` in ('1','2','3','4','5','6'))
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tagihan_daftar_ulang`
--

LOCK TABLES `tagihan_daftar_ulang` WRITE;
/*!40000 ALTER TABLE `tagihan_daftar_ulang` DISABLE KEYS */;
/*!40000 ALTER TABLE `tagihan_daftar_ulang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tagihan_tahunan_siswa`
--

DROP TABLE IF EXISTS `tagihan_tahunan_siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tagihan_tahunan_siswa` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tahun_ajaran_id` int(11) NOT NULL,
  `penempatan_id` bigint(20) DEFAULT NULL,
  `no_induk` varchar(10) NOT NULL,
  `komponen` varchar(30) NOT NULL,
  `nama_snapshot` varchar(100) NOT NULL,
  `kelas_snapshot` char(1) NOT NULL,
  `kelas_rombel_snapshot` varchar(30) DEFAULT NULL,
  `tahun_ajaran_snapshot` char(9) NOT NULL,
  `nominal_awal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `nominal_tagihan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `status` enum('open','cancelled') NOT NULL DEFAULT 'open',
  `created_by` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tagihan_tahunan_siswa` (`tahun_ajaran_id`,`no_induk`,`komponen`),
  KEY `idx_tagihan_tahunan_penempatan` (`penempatan_id`,`komponen`),
  KEY `idx_tagihan_tahunan_siswa_status` (`no_induk`,`tahun_ajaran_id`,`status`),
  KEY `idx_tagihan_tahunan_component` (`tahun_ajaran_id`,`komponen`,`status`),
  CONSTRAINT `fk_tagihan_tahunan_penempatan` FOREIGN KEY (`penempatan_id`) REFERENCES `siswa_tahun_ajaran` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_tagihan_tahunan_siswa` FOREIGN KEY (`no_induk`) REFERENCES `siswa` (`NO_INDUK`) ON UPDATE CASCADE,
  CONSTRAINT `fk_tagihan_tahunan_tahun` FOREIGN KEY (`tahun_ajaran_id`) REFERENCES `tahun_ajaran` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_tagihan_tahunan_nominal` CHECK (`nominal_awal` >= 0 and `potongan` >= 0 and `nominal_tagihan` >= 0),
  CONSTRAINT `chk_tagihan_tahunan_kelas` CHECK (`kelas_snapshot` in ('1','2','3','4','5','6'))
) ENGINE=InnoDB AUTO_INCREMENT=256 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tagihan_tahunan_siswa`
--

LOCK TABLES `tagihan_tahunan_siswa` WRITE;
/*!40000 ALTER TABLE `tagihan_tahunan_siswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `tagihan_tahunan_siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tahun_ajaran`
--

DROP TABLE IF EXISTS `tahun_ajaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tahun_ajaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `label` char(9) NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  `status` enum('draft','published','closed') NOT NULL DEFAULT 'draft',
  `published_at` datetime DEFAULT NULL,
  `closed_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tahun_ajaran_label` (`label`),
  CONSTRAINT `chk_tahun_ajaran_dates` CHECK (`tanggal_selesai` > `tanggal_mulai`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tahun_ajaran`
--

LOCK TABLES `tahun_ajaran` WRITE;
/*!40000 ALTER TABLE `tahun_ajaran` DISABLE KEYS */;
INSERT INTO `tahun_ajaran` VALUES (1,'2026/2027','2026-07-01','2027-06-30','published','2026-08-28 13:05:45',NULL,'2026-08-28 06:05:45','2026-08-28 06:05:45');
/*!40000 ALTER TABLE `tahun_ajaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_k`
--

DROP TABLE IF EXISTS `transaksi_k`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaksi_k` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `NO_INDUK` varchar(10) DEFAULT NULL,
  `TANGGAL` datetime DEFAULT NULL,
  `MASUK` double DEFAULT 0,
  `KELUAR` double DEFAULT 0,
  `user_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_transaksi_k_tanggal_user` (`TANGGAL`,`user_id`),
  KEY `idx_transaksi_k_siswa_tanggal` (`NO_INDUK`,`TANGGAL`),
  CONSTRAINT `transaksi_k_ibfk_1` FOREIGN KEY (`NO_INDUK`) REFERENCES `siswa` (`NO_INDUK`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=128 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_k`
--

LOCK TABLES `transaksi_k` WRITE;
/*!40000 ALTER TABLE `transaksi_k` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_k` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_m`
--

DROP TABLE IF EXISTS `transaksi_m`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaksi_m` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bayar_id` int(11) DEFAULT NULL,
  `NO_INDUK` varchar(10) DEFAULT NULL,
  `TANGGAL` datetime DEFAULT NULL,
  `MASUK` double DEFAULT 0,
  `KELUAR` double DEFAULT 0,
  `user_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_transaksi_m_bayar_id` (`bayar_id`),
  KEY `idx_transaksi_m_tanggal_user` (`TANGGAL`,`user_id`),
  KEY `idx_transaksi_m_siswa_tanggal` (`NO_INDUK`,`TANGGAL`),
  CONSTRAINT `fk_transaksi_m_bayar` FOREIGN KEY (`bayar_id`) REFERENCES `bayar` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `transaksi_m_ibfk_1` FOREIGN KEY (`NO_INDUK`) REFERENCES `siswa` (`NO_INDUK`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=256 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_m`
--

LOCK TABLES `transaksi_m` WRITE;
/*!40000 ALTER TABLE `transaksi_m` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_m` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-31 22:45:23
